.viewdocanchorlink {
  color: #000000;
}

.createnewdoc {
  background: #00947e;
}
.table-responsive {
  width: 90%;
  padding-left: 15%;
  padding-right: 5%;
  position: relative;
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  margin-bottom: 20px;
}
.table-striped {
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 10px;
  margin-top: 20px;
}
